/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f1f1f1;
}

#nav-bar
{
  position: sticky;
  top: o;
  z-index: 10;
}
.navbar
{
  background-image: linear-gradient(to right, rgba(221, 233, 236, 0), rgb(14, 184, 236));
  padding: 0 !important;
}
.navbar-brand
{
  height: 100px;
  padding-left: 40px;
  background:rgba(20, 189, 99, 0);
  font-size: 60px;
  margin-top: 0 px;
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.navbar-nav li
{
  padding: 0 10px;

}
.navbar-nav li a
{
  color: black !important;
  font-weight: 600px;
}
/*home main section*/
#body_home
{
  border-spacing: 0px;
  background-color: rgb(253, 253, 253);
  margin-top:  20px;
  margin-right: 20px;
  margin-left: 20px;
}
.front_description
{
  padding: 20px;
}
#main_fig
{
  width: 300px;
  margin: 10px;

}
.container1 {
  position:relative;
  margin-top: 10px ;
  margin-left: 10px ;
  margin-right: 10px ;
  padding: 10px;
  background-color: rgb(240, 230, 230);
  
}
.container2 {
  position:relative;
  margin-top: 10px ;
  margin-left: 10px ;
  margin-right: 10px ;
  padding: 10px;
  background-color: rgb(240, 230, 230);
  
}
.front_para
{
  padding: 10px;
  font-size: 20px;
  font-weight: 100px;
}
/******************landing page **************/
#cloud_fig
{
  width: 800px;
  margin: 50px;

}